@import "variables";
@import "shared/base";

body {
  background: rgba(#000000, 0.6);
  padding: 0px 20px 20px 20px;
  width: 100vw;
  height: 100vh;
}

html,body {
  margin: 0;
  padding: 0
}

#container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  font-size: 1.5em;
  img {
    display: inline-block;
    width: 50px;
  }
}

#root {
  h2 {
    margin-top: 0px;
  }

  h4 {
    margin-top: 20px;
  }
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}


@import "main-window";
@import "call-window";
@import "call-modal";
